@use "_prose.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  --base-heading-size: 2.8em;
  --heading-ratio: 1.2;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--unenergized-accent);
  color: var(--c-crust);
}
