@mixin body {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
}

@mixin code {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
}

@mixin header {
  font-family: "Jersey 10", sans-serif;
  font-optical-sizing: auto;
  font-synthesis: none;
}
